<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta charset="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<script type="text/javascript" src='../js/vue.js'></script>
</head>
<body>
	<div id="box">
		{{a | todo 1 2}}
	</div>
	<script>
		Vue.filter('todo',function(input,a,b){
			alert(a+','+b);
			return input<10?'0'+input:''+input;
		});
		var vm = new Vue({
			data:{
				a:9
			},
			methods:{
				
			}
		}).$mount('#box');
	</script>
</body>
</html>