<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta charset="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<script type="text/javascript" src='../js/vue.js'></script>
</head>
<body>
	<div id="box">
		a => {{a}}
		<br />
		b => {{b}}
	</div>
	<script>
		var vm = new Vue({
			el:"#box",
			data:{
				a:1
			},
			computed:{
				b:function(){
					
					return this.a+2;;
				}
			}
		});
		 document.onclick=function(){
            vm.a=101;
        };
	</script>
</body>
</html>